body {
    background-color: #f0f8ff;
}

.ChatMessage {
    padding: 15px;
}

.Body {
    left: 0; overflow: auto; position: absolute; right: 0; top: 60px; bottom: 40px; 
}

.J-Img-max {
    width: 100%;
}

.j-img-cover {
    width: 110px;
    height: 152px;
}